

<% @articles.each do |article| %>
  <div class="bs-component">
    <div class="jumbotron">
    <% if article.user_id == 1 %>

    <h3>
    <img src= <%= article.tw_icon %> alt= "<%= article.tw_username %>さんの画像" align="middle">
    <%= article.tw_username %></h3>
    <small><%= time_ago_in_words article.updated_at %> before</small>
    <% else %>
    <h3>
    <img src= <%= article.user.avatar.url(:thumb) %> alt= "<%= article.user.nickname %>さんの画像" align="middle">
    <%= article.user.nickname %></h3>
    <small><%= time_ago_in_words article.updated_at %> before</small>

    <% end %>
    <p><%= simple_format(article.text) %></p>
     <%= link_to '詳細', "/articles/#{article.id}", method: :get %>
    <% if user_signed_in? && current_user.id == article.user_id %>
      <%= link_to '削除', "/articles/#{article.id}" , method: :delete%>
    <% end %>
    </div>
  </div>

<% end %>


 <div class="text-center">
 <div>
  <%= paginate(@articles) %>
 </div>
 </div>
