<% set_meta_tags title: '好きすぎて辛い気持ち共有アプリ',description: '「すきつら」は彼氏や彼女、片思いの相手や芸能人などに対する、好きすぎて辛い想いを吐き出すことができるアプリです。別れてしまった人に対する叶わない思いや、旦那さんを好きすぎて辛いという心温まる気持ちまで、TwitterやFacebookでは言いづらい思いを吐き出してください。' %>
  <div class="row">
    <div class="col-xs-12">
    <br>
      <%= form_for @article do |f| %>
      <%= f.text_area :text, placeholder: "好きすぎてつらい気持ちを入力してください" ,class: "form-control control-label"%>
      </div>
  </div>
      
  <div class="row">
    <div class="col-xs-10">
    <% unless user_signed_in? %>
      <p class="text-muted"><small>投稿するには<a href="/users/sign_in">ログイン</a>するか<br><a href="/users/sign_up">新規登録</a>をお願いします＞＜</small></p>
    <% end %>
    </div>
    <div class="col-xs-2">
    <br>
      <% if current_user %>
        <%= f.submit "投稿する", class: "btn btn-primary pull-right" %>
      <% else %>
        <input type="submit" value="投稿する" class="btn btn-primary disabled pull-right" >
      <% end %>
    </div>
  </div>
      <% end %>
<br>
<% @articles.each do |article| %>
  <div class="bs-component">
    <div class="jumbotron">
    <% if article.user_id == 1 %>
      <h3>
      <img src= <%= article.tw_icon %> alt= "<%= article.tw_username %>さんの画像" align="left">
      <%= article.tw_username %><br>
     <small><a href='https://twitter.com/<%= article.tw_userid %>/status/<%= article.tw_id %>/'>    <i class="fa fa-twitter"></i> @<%= article.tw_userid %></a></small></h3>
      <small><%= time_ago_in_words article.updated_at %> 前</small>
    <% else %>
      <h3>
      <img src= <%= article.user.avatar.url(:thumb) %> alt= "<%= article.user.nickname %>さんの画像" align="middle">
      <%= article.user.nickname %></h3>
      <small><%= time_ago_in_words article.updated_at %> 前</small>
    <% end %>
      <p><%= article.text %></p>
      <a href='/articles/<%= article.id %>'><i class="fa fa-comment-o"> </i>  <%= article.comments.count %><span style="margin-right: 2em;"></span>  
        <i class="fa fa-heart"></i> <%= article.likes.count %>
        <span class="pull-right">コメントを見る・共感する</span>
      </a>
        <% if user_signed_in? && current_user.id == article.user_id %>
        <br><br>
          <i class="fa fa-times"></i>
          <%= link_to '削除する', "/articles/#{article.id}" , method: :delete%>
        <% end %>
    </div>
  </div>

<% end %>


 <div class="text-center">
 <div>
  <%= paginate(@articles) %>
 </div>
 </div>
