<!DOCTYPE html>
<html>
<head>
  <title>Sukisugiru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="/">Sukisugiru</a></h1>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <header class="header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <%= current_user.nickname %>
            <div class="user_nav grid-6">
              <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><a class="post" href="/articles/new">投稿する</a></li>
            </div>
          <% else %>
            <div class="grid-6">
              <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </header>
  </div>
</nav>
<%= yield %>

</body>
</html>
