<!DOCTYPE html>
<html>
<head>
  <title>Sukisugiru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <h1><a class="navbar-brand" href="/">Sukisugiru</a></h1>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><%= current_user.nickname %> さん、ようこそ！</li>
            <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
          <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a class="post" href="/articles/new"><button type="button" class="btn btn-primary">投稿する</button></a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
</header>
<%= yield %>

</body>
</html>
